[Unit]
Description=GPU FastAPI Application
After=network-online.target
Wants=network-online.target

[Service]
User=XXX
WorkingDirectory=/home/XXX/ylabgpu/
ExecStart=/home/XXX/ylabgpu/start_api.sh
Restart=always
Environment=PYTHONUNBUFFERD=1

[Install]
WantedBy=multi-user.target
